@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ADM Project</h1>
    <p class="lead">Fabrizio Brioccia</p>
    <hr />
</div>

<h3>Part-of-Speech</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="center-block">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Tag</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>CC</td><td>Coordinating conjunction</td></tr>
                    <tr>
                        <td>CD</td>
                        <td>
                            Cardinal number
                        </td>
                    </tr>
                    <tr>
                        <td>DT</td>
                        <td>
                            Determiner
                        </td>
                    </tr>
                    <tr>
                        <td>EX</td>
                        <td>
                            Existential there
                        </td>
                    </tr>
                    <tr>
                        <td>FW</td>
                        <td>
                            Foreign word
                        </td>
                    </tr>
                    <tr>
                        <td>IN</td>
                        <td>
                            Preposition or subordinating conjunction
                        </td>
                    </tr>
                    <tr>
                        <td>JJ</td>
                        <td>
                            Adjective
                        </td>
                    </tr>
                    <tr>
                        <td>JJR</td>
                        <td>
                            Adjective, comparative
                        </td>
                    </tr>
                    <tr>
                        <td>JJS</td>
                        <td>
                            Adjective, superlative
                        </td>
                    </tr>
                    <tr>
                        <td>LS</td>
                        <td>
                            List item marker
                        </td>
                    </tr>
                    <tr>
                        <td>MD</td>
                        <td>
                            Modal
                        </td>
                    </tr>
                    <tr>
                        <td>NN</td>
                        <td>
                            Noun, singular or mass
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="center-block">
            <table class="table">
                <tbody>
                    <tr>
                        <td>NNS</td>
                        <td>
                            Noun, plural
                        </td>
                    </tr>
                    <tr>
                        <td>NNP</td>
                        <td>
                            Proper noun, singular
                        </td>
                    </tr>
                    <tr>
                        <td>NNPS</td>
                        <td>
                            Proper noun, plural
                        </td>
                    </tr>
                    <tr>
                        <td>PDT</td>
                        <td>
                            Predeterminer
                        </td>
                    </tr>
                    <tr>
                        <td>POS</td>
                        <td>
                            Possessive ending
                        </td>
                    </tr>
                    <tr>
                        <td>PRP</td>
                        <td>
                            Personal pronoun
                        </td>
                    </tr>
                    <tr>
                        <td>PRP$</td>
                        <td>
                            Possessive pronoun
                        </td>
                    </tr>
                    <tr>
                        <td>RB</td>
                        <td>
                            Adverb
                        </td>
                    </tr>
                    <tr>
                        <td>RBR</td>
                        <td>
                            Adverb, comparative
                        </td>
                    </tr>
                    <tr>
                        <td>RBS</td>
                        <td>
                            Adverb, superlative
                        </td>
                    </tr>
                    <tr>
                        <td>RP</td>
                        <td>
                            Particle
                        </td>
                    </tr>
                    <tr>
                        <td>SYM</td>
                        <td>
                            Symbol
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="center-block">
            <table class="table">
                <tbody>
                    <tr>
                        <td>TO</td>
                        <td>
                            to
                        </td>
                    </tr>
                    <tr>
                        <td>UH</td>
                        <td>
                            Interjection
                        </td>
                    </tr>
                    <tr>
                        <td>VB</td>
                        <td>
                            Verb, base form
                        </td>
                    </tr>
                    <tr>
                        <td>VBD</td>
                        <td>
                            Verb, past tense
                        </td>
                    </tr>
                    <tr>
                        <td>VBG</td>
                        <td>
                            Verb, gerund or present participle
                        </td>
                    </tr>
                    <tr>
                        <td>VBN</td>
                        <td>
                            Verb, past participle
                        </td>
                    </tr>
                    <tr>
                        <td>VBP</td>
                        <td>
                            Verb, non-3rd person singular present
                        </td>
                    </tr>
                    <tr>
                        <td>VBZ</td>
                        <td>
                            Verb, 3rd person singular present
                        </td>
                    </tr>
                    <tr>
                        <td>WDT</td>
                        <td>
                            Wh-determiner
                        </td>
                    </tr>
                    <tr>
                        <td>WP</td>
                        <td>
                            Wh-pronoun
                        </td>
                    </tr>
                    <tr>
                        <td>WP$</td>
                        <td>
                            Possessive wh-pronoun
                        </td>
                    </tr>
                    <tr><td>WRB</td><td>Wh-adverb</td>
                </tbody>
            </table>
        </div>
    </div>
</div>
