@{
    ViewBag.Title = "Patterns";
}
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-6">
        <h2>Pattern</h2>
    </div>
    <div class="col-md-6">
        <h2>Description</h2>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-6">
        <h3>Adjective Nagation</h3>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> 'NOT'
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option2" autocomplete="off"> JJ
            </label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="patternDescription">
            <br />
            <p><b>Example</b>: The movies is <i><b>not</b></i> <i><b>good</b></i> enoght to deserve my money.</p>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-6">

        <h3>Adjective Complex Nagation </h3>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> RB
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option2" autocomplete="off"> RB
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option2" autocomplete="off"> JJ
            </label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="patternDescription">
            <br />
            <p><b>Example</b>: Golf is <i><b>not</b></i> <i><b>so</b></i> <i><b>easy</b></i> as one may think.</p>
        </div>
    </div>
</div>
<br />
<br />

<div class="row">
    <div class="col-md-6">

        <h3>Adjective Atlerative</h3>
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> RBR
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option2" autocomplete="off"> JJ
            </label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="patternDescription">
            <br />
            <p><b>Example</b>: Sometimes women are <i><b>more</b></i> <i><b>precise</b></i> in manual work.</p>
        </div>
    </div>
</div>
<br />
<br />

