
@{
    ViewBag.Title = "Tweets";
}

<h2>Tweets</h2>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/tweetsPageLoad.js"></script>
<div class="container">
    <br />
    <div class="list-group">
        <div class="loop">
            
            @*<div class="row">
                <div class="col-md-10">
                    <a href='javascript:void();' class='list-group-item' tweetId='" + i + "' onclick='elementClick(this);'>
                        <h4 class='list-group-item-heading'>
                            NOME
                            <img class='img-thumbnail img-rounded' style='float:right; max-width:50px; max-height:50px;' src='" + data[i].account.ImageUrl + "' />
                        </h4>
                        <p class='list-group-item-text'> aaaa aaa aaaaa aaa aaaaaaaaaaa aaaaaaaaaa aaaaa a a aa aaaa aaaaaaaaaa aaaa aaa aaaaaa aa aaaaaa aa aaaa a aaaa aaa aaa aaaa aaaaa aaa aaa aa aaaaa aa aaaaa aaa aaaaaaaa </p>

                    </a>
                </div>
                <div class="col-md-1"><input type="image" src="~/Content/no_face_64x64.png" /></div>
                <div class="col-md-1"></div>
            </div>*@
        </div>
    </div>
</div>
